html {
    font-size: 40px;
    background-color: #19b5e7;
}

body,html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    

  }

  p {
      margin: 0px 100px 0px 85px;
      font-size: 50px;
  }

  h2 {
      margin-top: 20px;
      background-color:#19e73e;
      font-weight: bold;
      padding: 10px 10px 10px 10px;
  }

  @keyframes materialize {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .main {
      flex-direction: column;
  }

  .game-status {
      margin-top: 20px;
  }

  .score {
      flex-direction: row;
      justify-content: space-between;
      font-size: 100px;
  }
/* 
  .images {
      flex-direction: row;
  }

  .choice-pic {
      max-width: 300px;
      max-height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      animation-name: materialize;
      animation-duration: 4s; 
  } */

h1 {
    background-color:#19e73e;
    font-size: 70px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 0;
}

.buttons {
    flex-direction: row;
    min-height: 40vh;
    
 
}

#play-button {
    width: 200px;
    height: 120px;
    font-size: 80px;
    background-color: #19e73e;
    border-radius: 25%;
    font-weight: bold;
}

.choice-buttons {
    width: 350px;
    height: 120px;
    font-size: 80px;
    background-color: #19e73e;
    border-radius: 25%;
    font-weight: bold;
}

#audio-button {
    max-width: 50px;
    max-height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}


.hidden {
    display: none;
}