html {
    font-size: 12px;
    background: url('./background.jpg');
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  @keyframes materialize {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }

  #rock-img {
      max-width: 300px;
      max-height: auto;
      position: relative;
      animation-name: materialize;
      animation-duration: 4s;
      
  }

  #paper-img {
    max-width: 300px;
    max-height: auto;
    position: relative;
    animation-name: materialize;
    animation-duration: 4s;
    
}

#scissors-img {
    max-width: 300px;
    max-height: auto;
    position: relative;
    animation-name: materialize;
    animation-duration: 4s;
    
}

h1 {
    background-color: whitesmoke;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.buttons {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.no-audio {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}


#play-button {
    width: 90px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

#audio-img {
    max-width: 60px;
    max-height: auto;
}


.hidden {
    display: none;
}