html {
    font-size: 40px;
    background-color: #19b5e7;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    

  }

  @keyframes materialize {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .main {
      flex-direction: column;
  }

  .images {
      flex-direction: row;
  }

  .choice-pic {
      max-width: 300px;
      max-height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      animation-name: materialize;
      animation-duration: 4s; 
  }

h1 {
    background-color:#19e73e;
    font-size: 90px;
    font-weight: bold;
}

.buttons {
    flex-direction: row;
    flex: 1;
    min-height: 100vh;

    
}

#play-button {
    width: 200px;
    height: 120px;
    font-size: 80px;
    background-color: #19e73e;
    border-radius: 25%;
    font-weight: bold;
}

#audio-button {
    max-width: 50px;
    max-height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}


.hidden {
    display: none;
}